Waybar
kanshi
sway
wlroots
swaylock*
mako
wf-recorder
clipman
pipewire
wofi
xdg-desktop-portal-wlr
wdisplays
wayfire
wf-config
wf-shell
wcm
nwg-panel
seatd
.env
tmp
swayimg
rofi
libgwater
trawl
regolith-displayd
regolith-session
regolith-i3-config
regolith-ftue
gtk-layer-shell
wayland
ilia
regolith-look-default
.vscode
regolith-i3status-rust
